@font-face {
  font-family: "digital-clock-font";
  src: url("digital-7.mono.ttf");
}

body {
  color: #ffffff;
  background-color: #000000;
  overflow: hidden;
}
body.beep {
  color: #000000;
  background-color: #ff0000;
}
#clock {
  font-family: digital-clock-font;
  width: 100%;
  height: 100%;
  text-align: center;
}

button.selected {
  background-color: gold;
}

#settingsPopup {
  display: none;
  width: 100%;
  height: 100%;
}
#settingsPopupFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#settingsPopupFlex div {
  flex-basis: 50%;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
}

#settingsPopupFlex div button {
  width: 80%;
  font-size: 100px;
  line-height: 200px;
}

.fightClock {
  color: #ec482c;
}

.restClock {
  color: #2cd0ec;
}
